.banner {
    background-image: url('https://github.com/CoderWarrior48/DelOroApp/blob/FullstackTransition/DelOroApp/src/app/assets/images/do-auditorium.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      font-size: 100px;
      font-weight:300;
    }
  
  
  }