@use '@angular/material' as mat;
@import "/src/styles.scss";


.banner {
    background-image: 
    url('https://github.com/CoderWarrior48/DelOroApp/blob/FullstackTransition/DelOroApp/src/app/assets/images/do-auditorium.jpg?raw=true')
    linear-gradient(-90deg, rgba(6,5,0, 0.5) 40%, mat.get-color-from-palette($my-accent, 500) 60%);
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      font-size: 100px;
      font-weight:300;
    }
  
  
  }
