<h1>Resources</h1>


<mat-tab-group>
  <mat-tab label="Parents">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Aeries Parent Portal Online Gradebook</mat-card-title>
        <mat-card-subtitle>The Parent Portal is an online service that will allow students and parents to view grades, assignments, and attendance.  </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/do-dance.png">
     
        Click here to access portal: Aeries Parent Portal.
        
        If you don't have an active portal account, look for an email the beginning of August to get started. 
        
        If you don't receive an email or for assistance in logging in, email or call Torri Baggaley: tbaggaley@puhsd.k12.ca.us at Del Oro (916) 652-7243 ext. 1012 
        
        Check out this video that will show you how to use the Portal to complete the Data Confirmation Process
        
        Subscribe to Weekly Progress Emails that contain up to date student attendance and gradebook information. Click here for directions.
      </mat-card-content>
    </mat-card>


    <mat-card>
      <mat-card-header>
        <mat-card-title>Canvas Parent Observer Account</mat-card-title>
        <mat-card-subtitle>Canvas is an online platform many teachers use to host class materials, activities and grade information. If you would like access to your student's Canvas account as a Parent Observer, click here for set-up information. </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/do-dance.png">
     
        If you already have a Parent Observer account, you can log in from this link.

        If you have questions about how your student's teacher is using Canvas, please email the teacher.
      </mat-card-content>
    </mat-card>


    <mat-card>
      <mat-card-header>
        <mat-card-title>Parent Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/do-dance.png">
     
        Attendance
Contact Ms. Gibson: jgibson@puhsd.k12.ca.us or call at (916) 652-7243 ext. 1017 Absence Hotline


Let's Do Lunch
Sign up for lunch plans, make payments online, and learn about our kid-friendly nutrition program! Go there...


Bus Information
Learn about the current bus shortage here...


Phoning Home
We keep you up-to-date with our home communication system: School Messenger. For more information on setting contact information, go here...


Transferring with Other Districts
The Student Transfer application should be completed as early in the year as possible. To find out more about transferring involving other districts, go here...

Check out these frequently asked questions regarding Inter-District transfers...


Online Testing
Take a minute to preview what all parents of seniors will receive in the fall----it's the individualized score report from our spring online testing of 11th graders.


California Healthy Kids Survey
See the Sample Questions...


School Nurse
Click here to view the district nurse's website.


Mental Health Services
Click here to view the district's mental health resources website.


School Closures
When urgent, emergency notifications are phoned to all households. Closures and weather conditions may be announced on these stations: 

KAHI - 950 AM

KCRA - Channel 3

KNCO, Grass Valley - 830 AM
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Parent Volunteering</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="assets/images/do-dance.png">
     
        Volunteer Paperwork
        Before being able to volunteer at the school, you must be fingerprinted and cleared through our District office.  To receive an application, please contact Mrs. Strautman in the Principal's office: 916-652-7243 Ext. 1002.
        
        
        Eagle Eye Volunteer Program
        Are you a Del Oro family member who is looking for a unique low-commitment opportunity to be a positive adult on campus?  Do you want to be able to earn free entry into Del Oro hosted athletic events? 
        
         
        
        Join our Eagle Eye volunteers who support Del Oro's mission to provide a safe and welcoming environment for our students to grow and excel.  As an Eagle Eye you can simply get your steps in by walking around our beautiful campus while providing us with your extra eyes. Or you can expand your engagement by greeting students, answering questions, helping the lost find their way, and providing additional guidance.  We are also looking for help with the morning drop off and afternoon pick up flow of traffic and general parking lot safety.  
        
         
        
        Complete this form and we will contact you with more information on how to be a part of the Del Oro team!  *All Eagle Eyes must go through a background check and on-site training will be provided.
        
        
        Be a Foster Family
        We need Placer Union families to serve as foster families so that some of our students can remain enrolled in our supportive schools. Learn more here...
      </mat-card-content>
    </mat-card>


  </mat-tab>
  <mat-tab label="Students"> Students </mat-tab>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Connect with a Peer Mentor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    If you have any questions about Del Oro, need help connecting to clubs, tutors, mental health specialists, or just want to talk, the Peer Mentors are here to help! If you would like to connect with a peer mentor or would like to request a peer mentor for someone else, use this referral form, and we will reach out ASAP! All requests are strictly confidential.
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>PUHSD Mental Health Services</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Click here to view the district's mental health resources website.  
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Eagle Time / Intervention</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Eagle Time is a flexible time built into the regular school day for students to access extra support for the their classes, meet with a teacher, meet with a club, make up a quiz, or stop to catch up on homework.

      3rd Block: Unless it's PLC Monday or Advisory Tuesday, Eagle Time happens most regular school days during 3rd block.
      
      Flexisched: Early in the week, students use a program called Flexisched (pronounced "Flexy-skedge") to sign up for which intervention offerings they'll attend that week. Teachers also regularly sign students up for Eagle Time when they know students need additional support and accountability.      
    </mat-card-content>
  </mat-card>
  <mat-tab label="All"> All </mat-tab>
</mat-tab-group>
