<h1>Resources</h1>


<mat-tab-group>
  <mat-tab label="Parents">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Aeries Parent Portal Online Gradebook</mat-card-title>
        <mat-card-subtitle>The Parent Portal is an online service that will allow students and parents to view grades, assignments, and attendance.  </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="https://www.google.com/url?q=https%3A%2F%2Fpuhsd.aeries.net%2Fstudent%2FLoginParent.aspx&sa=D&sntz=1&usg=AOvVaw2UDOKTCQMmQGEt_nDkxznC">
     
        Click here to access portal: Aeries Parent Portal.
        
        If you don't have an active portal account, look for an email the beginning of August to get started. 
        
        If you don't receive an email or for assistance in logging in, email or call Torri Baggaley: tbaggaley@puhsd.k12.ca.us at Del Oro (916) 652-7243 ext. 1012 
        
        Check out this video that will show you how to use the Portal to complete the Data Confirmation Process
        
        Subscribe to Weekly Progress Emails that contain up to date student attendance and gradebook information. Click here for directions.
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Students"> Students </mat-tab>
  <mat-tab label="All"> All </mat-tab>
</mat-tab-group>
