<h1> Settings </h1>
<mat-card>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>

      <mat-slide-toggle 
      ngModel name="darkmode" 
      #darkmode="ngModel"
      [(ngModel)]="settingsObj['darkmode']"
      >Dark Mode</mat-slide-toggle>

      <mat-slide-toggle 
      ngModel name="notifications" 
      #notifications="ngModel"
      [(ngModel)] = "settingsObj['notifications']"
      >Notifications</mat-slide-toggle>

      <mat-divider></mat-divider>

      <mat-slide-toggle 
      ngModel name="subscribe" 
      #darkmode="ngModel"
      [(ngModel)] = "settingsObj['subscribe']"
      >Subscribe</mat-slide-toggle>

      <mat-slide-toggle 
      ngModel name="other" 
      #notifications="ngModel"
      [(ngModel)] = "settingsObj['other']"
      >other</mat-slide-toggle>

    
      <button mat-raised-button type="submit">Save Settings</button>
    </form>

    <!-- <p>{{stringify(settingsObj)}}</p> (Delete this: display values for debugging) -->
  </mat-card-content>
</mat-card>
  
   
