<!-- <mat-sidenav-container>
  <mat-sidenav
    #sidenav
    roll="navigation"
    (click)="sidenav.toggle()"
    class="primary"
  >

    <mat-list-item type="button" mat-button routerLink="/study/flashcards">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Flashcards</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         <p> Work on studying anytime, anywhere with these online flashcards </p>
          <div
            style="
            width: 200px;
            height: 100px;
            background-color: black;
            "
          >
            image placeholder
          </div>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
    
    <mat-list-item type="button" mat-button routerLink="/study/quizzes">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Practice quizzes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Take a non-graded practice test before the next big exam </p>
          <div style="
          width: 200px;
          height: 100px;
          background-color: black;
          ">image placeholder</div>
        </mat-card-content>
      </mat-card>
    </mat-list-item>

    <mat-list-item type="button" mat-button routerLink="/study/study4fun">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Study4fun</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Memorise concepts through these fun, competative games </p>
          <div style="
          width: 200px;
          height: 100px;
          background-color: black;
          ">image placeholder</div>
        </mat-card-content>
      </mat-card>
    </mat-list-item>

  </mat-sidenav>

  <div class="sidebar-content">
    <button type="button" mat-button (click)="sidenav.toggle()">
      <mat-icon>extension</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
 -->


<h1> some text </h1>


 <mat-toolbar id="app-toolbar" color="accent">
  <button mat-button color="primary">Flashcards</button>
</mat-toolbar>