<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Del Oro Study</mat-card-title>
    <mat-card-subtitle>Study with the new and improved Del Oro study page!</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title routerLink="../flashcards">Flashcards</mat-card-title>
    <mat-card-subtitle>Work on studying anytime, anywhere with these online flashcards</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="
    width: 500px;
    height: 200px;
    background-color: black;
    "
    >image placeholder</div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Practice quizzes</mat-card-title>
    <mat-card-subtitle>Take a non-graded practice test before the next big exam</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="
    width: 500px;
    height: 200px;
    background-color: black;
    ">image placeholder</div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Study4fun</mat-card-title>
    <mat-card-subtitle>Memorise concepts through these fun, competative games</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="
    width: 500px;
    height: 200px;
    background-color: black;
    ">image placeholder</div>
  </mat-card-content>
</mat-card> -->

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>