<div class="backdrop">
  <div class="intro-lt hide-lt-md">
      <img src="assets/images/do-eagle-shield.png" style="width: 100%;" />
      <h1>Del Oro High School</h1>
      <p>
        Continuing a tradition of excellence and integrity in a safe,
        supportive, and respectful environment where all students will be
        equipped with the knowledge and skills to be college, career, and life
        ready as well as contribute as responsible citizens of their local and
        global communities
      </p>
  </div>
  <div class="intro-sm hide-gt-sm" align="center">
  <img src="assets/images/do-eagle-shield.png" style="width: 60%;" />
  <h1>Del Oro High School</h1>
  <p>
    Continuing a tradition of excellence and integrity in a safe,
    supportive, and respectful environment where all students will be
    equipped with the knowledge and skills to be college, career, and life
    ready as well as contribute as responsible citizens of their local and
    global communities
  </p>
</div>
</div>

<div style="margin: 30px;">
  <div style="width: 50%; float: left;">
    <h1>Communication Hub</h1>
    <p> 
    We have several ways that students, parents, and community members can get all of the latest information about things going on at Del Oro High School.  
    
    ----------
    
    <b>Social Media</b> - Follow us on Facebook and Del Oro's main Instagram page for updates about events, sports scores, and happenings around campus.  Each class has their own Instagram too! Click here.
    
    ----------
    
    <b>Weekly Newsletter</b> - Sent to parents every Friday with updates from Admin, Counseling, Athletics, and more.  Find previous newsletters in the Newsletter Archives.
    
    ----------
    
    <b> Oro Student News</b> - Our student news team runs the Del Oro News show that goes live on YouTube every morning at 8:30am!
    
    ----------
    
    <b>School Calendar</b> - Check the Google Calendars for Activities, Athletics, and All School Events.  
    
    ----------
    
    <b>Class Reminds</b> - Students sign up for "Activities Reminds" based on their Graduation year.  These "Reminds" are a chance for us to send quick information that students may need to know about dance bids, rallies, lunch activities, etc.  "Counseling Reminds" will keep you informed of grade level guidance, college visits, scholarships and more.
    
    ----------
    
    <b> Potty Press </b> - The Potty Press is a weekly publication taped on the wall in every restroom on campus. Check the weather, read the joke of the week, and get information about clubs, events, and athletics.  See the archives so you can enjoy the potty press at home.
    </p>
  </div>
  <div class="newsfeed  custom-class">
    <h1 style="ẗext-align: center; color: white;">News</h1>
    <app-newsfeed [tab]= "'all'"></app-newsfeed>
  </div>
</div>

<img src="assets/images/do-home-banner.jpg">