@use '@angular/material' as mat;
@import "/src/styles.scss";


.intro-lt {
  float: left;
  color: white;
  width: 30%;
  margin: 100px;
}

.intro-sm {
  color: white;
  font-size:  25px;
  width: 80vmin;
  margin: auto;
}

.backdrop {

  background: linear-gradient(-90deg, rgb(6,5,0) 40%, mat.get-color-from-palette($my-accent, 500) 60%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.page {
  display: flex;
  
}


.newsfeed {
  width: 300px;
  float: right;
  margin-top: 0px;
  padding: 30px;
  height: 500px;
  overflow: scroll;
  background-color: mat.get-color-from-palette($my-accent, 500) !important;
}



.text-container h1{
  font-size: 150px;
  line-height: 150px;
  color: rgba(225,225,225, .01);
  background-image: url("https://github.com/CoderWarrior48/DelOroApp/blob/main/DelOroApp/src/assets/images/do-stadium.png?raw=true");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
}
  100% {
      background-position: 0% 50%;
  }
}