<div class="backdrop">
  <div class="text-container hide-xs">
    <h1>Del Oro High School</h1>
  </div>
  <div class="text-container hide-gt-xs">
    <h1>DO</h1>
  </div>
</div>

<div class="page hide-xs">
  <p style="padding: 30 px;">
    Local Control Plan Pursuant to Ed Code 52060 on or before July 1, 2019, the
    Governing Board of each school district shall adopt a Local Control &
    Accountability Plan (LCAP) using the template adopted by the State Board of
    Education. The LCAP is effective for three years with annual updates, must
    be aligned to the PUHSD's budget, and must include both district-wide goals
    and goals for specific student populations with the district. Professional
    Standards PUHSD staff and faculty are committed to a professional code of
    conduct that is articulated in two documents: Board Policy & Exhibit. And in
    alignment with the code of conduct, Placer Union is committed as an equal
    opportunity organization. School Board Placer Union's Board of Trustees
    holds public meetings throughout the school year, including periodic joint
    meetings with local pre-K-8 districts and Sierra Community College. View
    their agendas online or visit their webpage for meeting dates and profiles
    on these five dedicated public servants. Del Oro Parents' Club Del Oro High
    School is a separate entity from Del Oro Parents' Club. DOPC is a non-profit
    organization with its own board, liability insurance, and decision-making
    base. Meeting Dates 2022-2023 DOPC Membership Form 2022-2023 DOPC Membership
    Dues 2023-2024 Officers and Committee Chairs 2022-23 Why Join DOPC? How to
    Get Connected DOPC Facebook & Instagram
  </p>
</div>

    <div class="newsfeed">
      <h1 style="ẗext-align: center; color: black;">News</h1>
      <app-newsfeed [tab]="'all'"></app-newsfeed>
    </div>