<h1>Del Oro News</h1>
<mat-tab-group>
  <mat-tab label="All">
    <!-- News content below (to be requested from backend when available) -->
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Connect with a Peer Mentor</mat-card-title>
        <mat-card-subtitle>Peer Mentors are here to help!</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/eagle-head.png" alt="Photo">
      <mat-card-content>
        <p>
          If you have any questions about Del Oro, need help connecting to clubs, tutors, mental health specialists, or just want to talk, the Peer Mentors are here to help! Use <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKu0nirxqJlKFkPDSKiX1T3i3sLrjo2Qsn1sV4JLuzz1UaUw/viewform?usp=sf_link">this referral form</a> for you or someone else, and we will reach out ASAP! All requests are strictly confidential.  
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Senior Portraits - Class of 2024</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/images/eagle-head.png" alt="Photo">
      <mat-card-content>
        <p>
          Yearbook photos by Prestige Portraits taken at Del Oro.  July 24 - July 28th: Prestige will email you with your appointment time 2 weeks before the appointment dates. <a href="https://sites.google.com/puhsd.k12.ca.us/delorohigh/activities">More info here...</a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <!-- News content above (to be requested from backend when available) -->

  </mat-tab>
  <mat-tab label="Acadamic"> 
    Content 2
   </mat-tab>
  <mat-tab label="Extracurricular"> 
    Content 3 
  </mat-tab>
</mat-tab-group>