.edit-tools-container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.edit-tools-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.edit-tools {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
}
