@use '@angular/material' as mat;
@import "/src/styles.scss";

mat-card {
  width: 70%;
  height: 70%;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 20px;
}

#definition {
  background-color: mat.get-color-from-palette($my-accent, 500) !important;
  color: mat.get-color-from-palette($my-accent, default-contrast)
}

button {
  margin: 10px;
}

div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
