<div class="backdrop">
  <div class="intro">
    <div class="intro-text">
      <img src="assets/images/do-shield.png" style="width: 100%;" />
      <h1>Del Oro High School</h1>
      <p>
        Continuing a tradition of excellence and integrity in a safe,
        supportive, and respectful environment where all students will be
        equipped with the knowledge and skills to be college, career, and life
        ready as well as contribute as responsible citizens of their local and
        global communities
      </p>
    </div>
  </div>
</div>

<div>
<h1> Blah Blah </h1>
<p> This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.This is a sample sentence.</p>
<app-news></app-news>
</div>