<ng-container *ngIf="{ content: contents$ | async } as data">
  <ng-container *ngIf="data.content">
  <ng-container *ngFor="let user of data.content"> 
    <mat-card>
    Username: {{user.username}}
    Password: {{user.password}}
    </mat-card>
  </ng-container>
  </ng-container>
</ng-container>

  <div class="form">
    <mat-form-field appearance="outline"> 
      <mat-label>Username:</mat-label>
      <input matInput type="email" required="required" [(ngModel)]="accountInput.username" value="username">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Password:</mat-label>
      <input matInput type="password" required="required" [(ngModel)]="accountInput.password" value="password">
    </mat-form-field>
    <button mat-button (click)="signIn()">Sign in</button>
    <!-- {{postReturn | json}} -->
    <h1>User: {{accountInput.username}}</h1>
    <h1>Pasword: {{accountInput.password}}</h1>
  </div>

  <!-- {{ data | json }} -->
  <!-- {{accounts$ | json}} -->

