<app-banner title="About"></app-banner>

<div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Mission Statement</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display: inline-flex;">
      <img src="assets/images/do-logo.svg" alt="Do Logo" style="width: 50%;" />
      <p align="center" style="width: 50%;">
        To continue a tradition of excellence and integrity in a safe,
        supportive and respectful environment where all students will be
        equipped with the knowledge and skills to be college, career, and life
        ready, as well as contribute as responsible citizens of their local and
        global communities.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Our School</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Del Oro High School is located in Loomis, CA and is one of six high
        schools in the Placer Union High School District. Opened in 1959, Del
        Oro is situated on approximately 56 acres serving students in the ninth
        through twelfth grades. Our enrollment for the 2017-2018 school year was
        1,752. Our ethnic make-up consists of 11.24% Hispanic/Latino, .57%
        American Indian/Alaskan Native, 1.43% Asian, .11% Pacific Islander, .51%
        Filipino, .41% African American, 78.08% White, 7.25% two or more races,
        .80% not reported.
        <br />
        <br />
        Del Oro serves a semi-rural community trying to maintain slow growth
        while being surrounded by communities of high growth. There has been a
        phasing out of the agricultural way of life and an increase of homes on
        acreage and small housing tracts within our attendance boundaries. The
        area is becoming a bedroom community for the greater Sacramento area.
        There continues to be slow growth of businesses within the community,
        but the existing businesses are generally very supportive of Del Oro.
        <br />
        <br />
        Del Oro draws its students from two elementary districts which are
        composed of seven K-8 elementary schools. In addition, approximately 350
        of our students are on inter-district agreements from surrounding
        districts, and 106 are intra-district/open enrollment from one of our
        district high schools. The school is located a few miles from Sierra
        College, which allows many students to attend concurrently.
        <br />
        <br />
        In 2011, Del Oro was named a California Distinguished School by the
        Department of Education. In 2012, Del Oro received the maximum 6-year
        accreditation from the Western Association of Schools and Colleges
        (WASC).
        <br />
        <br />
        Del Oro High School competes athletically in the highly touted Sierra
        Foothill League (S.F.L.) and is part of the CIF-Sac- Joaquin Section. We
        compete in 21 Varsity Sports, most equipped with both Frosh and Junior
        Varsity feeder programs. We have a rich history of students competing in
        sports and its estimated that 40% of the entire student body participate
        on an interscholastic team. Please visit our Athletics webpage for more
        information on specific teams.
        <br />
        <br />
        From a club standpoint, Del Oro offers countless organizations for
        students to be involved with. Our faculty does an exceptional job of
        finding ways to get students involved on campus. Ranging from the F.F.A.
        to the Outdoor Adventure Club, to the Dance Team, there are numerous
        ways to get involved with D.O. outside of school and outside of sports.
        Please visit our Clubs webpage to see the list of clubs offered at Del
        Oro.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Frequently Asked Questions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>
          Q— The data on the internet about the different schools in the area
          gets somewhat confusing. From those statistics, what is the most
          critical in illustrating Del Oro's success?
        </b>
        <br />
        <br />
        Del Oro Graduates 97.5% of all students.
        <br />
        <br />
        The Average S.A.T. Scores of Del Oro Students who took the exam in 2016:
        Critical Reading (529), Math (541), and Writing (504).
        <br />
        <br />
        44% of the 2016 graduating class applied to, gained acceptance, and is
        attending a 4-Year College.
        <br />
        <br />
        Del Oro High School is accredited through the Western Association of
        Schools and Colleges (WASC) for 6 years (2013-19).
        <br />
        <br />
        Del Oro has a diverse student population, staff, and faculty.
        <br />
        <br />
        In the last 10 years Del Oro has won 55 S.F.L. League Athletic
        Championships and 25 CIF SJS Section Athletic Championships.
        <br />
        <br />
        <b>
          Q— What are some of the course offerings that students can take at Del
          Oro?
        </b>
        <br />
        <br />
        In addition to the education that all K-12 schools in California has to
        provide per the state education standards by subject, Del Oro exceeds
        those minimums. Here are some of the highlights.
        <br />
        <br />
        19 Advanced Placement (A.P.) Courses Offered in 2017-2018 school year
        including: (2) English, (4) Math, (6) Science, (4) Social Science, (1)
        Spanish, (2) Art.
        <br />
        <br />
        Honors level courses in English, Math, and Science.
        <br />
        <br />
        ROP Courses in culinary arts, agriculture, computer science, and sports
        medicine.
        <br />
        <br />
        Award winning Future Farmers of America (F.F.A.) Program
        <br />
        <br />
        Multimedia and Broadcasting
        <br />
        <br />
        Leadership
        <br />
        <br />
        Drama, Dance, and Performing Arts
        <br />
        <br />
        Music and Band
        <br />
        <br />
        CTE Shop Classes
        <br />
        <br />
        <b>
          Q— From a facilities and technology standpoint, what does Del Oro have
          to offer?
        </b>
        <br />
        <br />
        Del Oro’s campus was born in 1959. Over time it has gone through several
        renovations, most recently in 2003 with the construction of a
        state-of-art performing arts and administration building, and a new
        gymnasium named after former Del Oro Teacher, Coach, and Counselor
        Robert Bonner.
        <br />
        <br />
        In 2009, completion of a state-of-the-art Culinary Arts facility giving
        our students a very competitive edge in this CTE field.
        <br />
        <br />
        All students are equipped with chromebooks and receive a full service
        Google Apps account under the @puhsd.us domain.
        <br />
        <br />
        Grades are posted and reported by teachers using the Aeries software
        system, and parents have access to them using the newly designed “Parent
        Portal”.
        <br />
        <br />
        A brand new state-of-the-art Aquatics Complex was opened in 2017.
        <br />
        <br />
        <i>
          <a
            href="https://drive.google.com/file/d/1hxuGvSaGfJRX1O4VqUbZ13N8rkCXro-6/view?usp=sharing"
          >
            2021-2022 School Accountability Report Card (SARC) - Published
            During the 2022-2023 School Year
          </a>
          <br />
          <br />
          <a
            href="https://drive.google.com/file/d/1jujdMJQbrdHzM3YMH7blKhm33p9qDu6h/view"
          >
            School Profile 2019-2020
          </a>
          <br />
          <br />
          <a
            href="https://simbli.eboardsolutions.com/Policy/ViewPolicy.aspx?S=36030376&revid=y6gIb3YZslshsmovuZ2W26IEg==&ptid=amIgTZiB9plushNjl6WXhfiOQ==&secid=muNUlKiR2jsXcslsh28JpBkiw==&PG=6&IRP=0"
          >
            Board Policy 4119.21 Professional Standards
          </a>
          <br />
          <br />
          <a
            href="https://simbli.eboardsolutions.com/Policy/ViewPolicy.aspx?S=36030376&revid=qMXCKl13e301wlsWqHHHAA==&ptid=amIgTZiB9plushNjl6WXhfiOQ==&secid=muNUlKiR2jsXcslsh28JpBkiw==&PG=6&IRP=0"
          >
            E4119.21 Professional Standards Exhibit
          </a>
        </i>
      </p>
    </mat-card-content>
  </mat-card>
</div>
