@use '@angular/material' as mat;
@import "/src/styles.scss";


.banner {
  background-color: mat.get-color-from-palette($my-accent, 500) !important;
  padding: 5px;
  color: mat.get-color-from-palette($my-accent, default-contrast)
}

mat-card {
  margin-top: 30px; 
}